.nav-list {
  display: flex;
  justify-content: space-around;
  color: var(--txt-col);
  background: var(--nav-col);
  font-size: 30px;
}

.nav-item .icon {
  position: absolute;
  width: 1em;
  transition: 0.2s;
}

.nav-item .icon:hover {
  width: 1.1em;
}

.nav-list li {
  color: var(--txt-col);
  list-style-type: none;
}

.nav-list li :link {
  color: var(--txt-col);
  text-decoration: none;
}

.nav-list li :hover {
  color: var(--txt-col);
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
}

.nav-list li :visited {
  color: var(--txt-col);
}
