.sorry {
  font-size: 5vh;
}

.sorry > p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.sorry a {
  text-decoration-thickness: 9px;
}

.sorry-grid-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 25% 50% 25%;
  text-align: center;
}

.sorry-grid-top {
  grid-row-start: 1;
  grid-column: span 3;
}

.sorry-grid-main {
  grid-row-start: 2;
  grid-column-start: 2;
}

.sorry-grid-bottom {
  grid-row-start: 3;
  grid-column: span 3;
}

audio {
  padding-top: 50px;
}
