<div class="about-grid-container">
    <span class="about-grid-top"></span> 
        <div class="about-grid-main">
            <article class = "about">
                <p>
                <strong>FreeSlide</strong> documents <strong>free</strong> tools for creating <strong>slide</strong>shows.<br>
                The docs are architected <i>roughly</i> according to the <a href="https://diataxis.fr/">diataxis</a> framework.<br>
                Visit the <a href="/ref">reference</a> to find a list of tools, a <a href="/howto">how-to</a> to learn 
                to use them or a <a href="/tutorial">tutorial</a> to learn the tools in more depth.  
                </p>

            <article>
        </div>
    <span class="about-grid-bottom"></span>
</div>
