<div class="howto-grid-portal-container">

    <header id="howto-head">
        <p>{{ header }}</p>
        <br>
    </header>

    <div class="howto-grid-portal-toc">
        {% include "partials/toc-howto.njk" %}
    </div>

    <div class="howto-grid-portal-diataxis">
        <blockquote>
        A how-to guide helps the user get something done, correctly and safely; it guides the user’s action.
        It’s concerned with work - navigating from one side to the other of a real-world problem-field.
        </blockquote>
        <p>—<a href="">Diataxis website</a></p>
    </div>
</div>

