<main class="sorry-grid-container">
    <span class="sorry"></span> 
            <article class = "sorry">
                <section>
                    <p>
                        <strong>Sorry!</strong> this content isn't ready yet.<br>
                    </p>
                </section>

                <section>
                    <p>
                        <i>Soothe</i> your frustration with this <strong>dreamy</strong> <br> 
                        song <a href="https://curtsyrehearsed.bandcamp.com/album/newly-sincere">that I made</a>....
                    </p>
                </section>

                <section>
                    <audio controls>
                      <source src="/audio/metastable.ogg" type="audio/ogg">
                      <source src="/audio/metastable.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                </section>
            <article>
    <span class="sorry"></span>
</main>
