---
layout: layouts/base.njk
title: Motion Canvas
subtitle: The Code
permalink: "/howto/pandoc.html"
type: howto
icon: "/images/markdown.svg"
iconRef: "https://pandoc.org/chunkedhtml-demo/10-slide-shows.html"
description: Markdown to slides with Pandoc
---

<main class="howto-section">
    <section class="howto-abstract">
        <p>{{ title }} is a powerful CLI tool for converting document formats.
        Here it will be used to convert a plaintext file to a web-based
        slide presentation using the lightweight DZslides CSS library.
    </section>

    <hr class="separator">

    <article class="howto-grid-container">

        {% include "partials/toc-howto.njk" %}

        <section class="howto-section howto-grid-snippet">
            {% import 'globals.html' as cli %}

            <code>{{cli.howto_pandoc0 }}</code>
            <br><br>
            <code>{{cli.howto_pandoc1 }}</code>
            <br><br>
            <code>{{cli.howto_pandoc2 }}</code>
            <br><br>
            <code>{{cli.howto_pandoc3 }}</code>
        </section>

        <section class="howto-section howto-grid-output">
            <video class="slideshow-video" controls>
              <source src="/videos/screenRecPandocSlides.mp4" type="video/mp4">
            Your browser may not support HTML video.
            </video>
        </section>
    </article>

    <hr class="separator">

    <aside class="howto-section">
        <h2>{{ subtitle }}</h2>

        <p>There is a markdown-style syntax for the slides</p>

        <p><code>#</code> marks a new slide with a header</p>
        <p><code>-</code> marks a list item</p>
        <p><code>![title](path/to/image.png)</code> sources an image</p>
        <p>In the example three slides are directed into a plaintext source file</p>
        <p>Invoking <code>pandoc</code> with the library (DZSlides), the input (slides.txt) and output (slides.html) creates the presentation</p>

    </aside>
</main>
