---
layout: layouts/base.njk
title: how-to
icon: "/images/recipe.svg"
iconTip: "A recipe is a series of definite steps"
iconRef: "https://diataxis.fr/how-to-guides/"
header: Recipes for creating presentations using free slide tools
type: howto
---

{% include "layouts/howto.njk" %}
