---
layout: layouts/base.njk
title: concept
description: 
icon: "/images/slide.svg"
iconTip: "This website is about slideshows"
---

{% block content %}
{% endblock %} 

{% include "layouts/concept.njk" %}
