---
layout: layouts/base.njk
title: concept
description: 
icon: "/images/slide.svg"
iconTip: "A website about slideshows using diataxis"
iconRef: "https://diataxis.fr/explanation/"
---

{% include "layouts/concept.njk" %}
