---
layout: layouts/base.njk
title: concept
description: 
icon: "/images/slide.svg"
iconTip: "This website is about slideshows"
iconRef: "https://diataxis.fr/explanation/"
---

{% include "layouts/concept.njk" %}
