---
layout: layouts/base.njk
title: tutorial
icon: "/images/learn.svg"
iconTip: "By the end of a tutorial you will have learned something."
header: Explanatory articles on using free slides tools 
type: tutorial
---

{% include "layouts/tutorial.njk" %}
