<div class="{{ type }}-grid-toc">
    <ul>
        <li><a href="/{{ type }}/vanillaCSS">Vanilla CSS</a></li>
        <li><a href="/{{ type }}/pandoc">Pandoc</a></li>
        <li><a href="/{{ type }}/motionCanvas">Motion Canvas</a></li>
        <li>Reveal JS</a><span class="unfinished" title="unfinished"> <a href="/sorry">? </a></span></li>
        <li>Uxn Adelie</a><span class="unfinished" title="unfinished"> <a href="/sorry">? </a></span></li>
    </ul>
</div>
