<nav class="{{ type }}-grid-toc">
    <ul>
        <li><a href="/{{ type }}/vanillaCSS">Vanilla CSS</a></li>
        <li><a href="/{{ type }}/terminal">Terminal</a></li>
        <li><a href="/{{ type }}/adelie">Adelie</a></li>
        <li>Pandoc</a><span class="unfinished" title="unfinished"> <a href="/sorry">? </a></span></li>
        <li>Motion Canvas</a><span class="unfinished" title="unfinished"> <a href="/sorry">? </a></span></li>
        <li>Reveal.js</a><span class="unfinished" title="unfinished"> <a href="/sorry">? </a></span></li>
        <li>Manim Slides</a><span class="unfinished" title="unfinished"> <a href="/sorry">? </a></span></li>
    </ul>
</nav>
