<div class="{{ type }}-grid-toc">
    <ul>
        <li><a href="/{{ type }}/vanillaCSS">Vanilla CSS</a></li>
        <li><a href="/{{ type }}/RevealJS">Reveal JS</a></li>
        <li><a href="/{{ type }}/UxnAdelie">UXN Adelie</a></li>
        <li><a href="/{{ type }}/PandocMd">Pandoc</a></li>
        <li><a href="/{{ type }}/motionCanvas">Motion Canvas</a></li>
    </ul>
</div>
